<div class="slow-load">
<div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
    <div class="vertical-timeline-item vertical-timeline-element element">
        <div>
            <span class="vertical-timeline-element-icon bounce-in timelineIcon">
                <i class="badge badge-dot badge-dot-xl badge-success i-zondicons-education"></i>
            </span>
            <div class="vertical-timeline-element-content bounce-in">
                <h4 class="timeline-title" title="Diploma">Diploma</h4>
                <p>Electronics and Communications Eng.</p>
                <span class="vertical-timeline-element-date">78 %</span>
            </div>
        </div>         
    </div>
    <div class="vertical-timeline-item vertical-timeline-element element">
    <div>
        <span class="vertical-timeline-element-icon bounce-in timelineIcon">
            <i class="badge badge-dot badge-dot-xl badge-success i-zondicons-education"></i>
        </span>
        <div class="vertical-timeline-element-content bounce-in">
            <h4 class="timeline-title" title="B.Tech">B.Tech</h4>
            <p>Electronics and Comminucations Eng.</p>
            <span class="vertical-timeline-element-date">68 %</span>
        </div>
    </div>
    </div>
   <div class="vertical-timeline-item vertical-timeline-element element">
    <div>
        <span class="vertical-timeline-element-icon bounce-in timelineIcon">
            <i class="badge badge-dot badge-dot-xl badge-success i-clarity-employee-solid"></i>
        </span>
        <div class="vertical-timeline-element-content bounce-in">
            <h4 class="timeline-title" title="{{data.jobTooltip}}">{{data.jobtitle}}</h4>
            <p>{{data.jobrole}} at &nbsp;<a href="data.companywebsite"
                    data-abc="true" target="_blank">{{data.company}}</a></p>
            <span class="vertical-timeline-element-date" title="Experience">{{data.experience}}</span>
        </div>
    </div>
    </div>
</div>
</div>